- let siteTitle = tags.length > 0 ? `${tags.join(" ")} jobs in ${moment().format('MMMM YYYY')}` : "Largest collection of Machine learning, data science, and data analyst jobs on the web."
- let siteDescription = 'find machine learning developer jobs, data science jobs, data scientist jobs, and data analyst jobs all in one place.'
- let siteName = 'OnlyDataJobs'
- let siteUrl = 'https://onlydatajobs.com'
- let siteUsername = '@onlydatajobs'
- let siteImage = 'https://onlydatajobs.com/onlydatajobs.png'
- let pageLastUpdated = "2005-12-12T00:00:00"
- let twitterUrl = siteUrl
- 
  if(job != null) {
    siteTitle = `${job.title.indexOf(' at ') != -1 ? `${job.title}` : `${job.title} at ${job.company}`}`
    siteDescription = `${job.company} is hiring ${job.title} ${striptags(job.description).substring(0, 300)}...`
    pageLastUpdated = moment(job.publishedDate).format()
    twitterUrl = `${siteUrl}/${job.slug}`
  }
doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="Content-Language" content="en-us")
    link(rel="image_src" href=`${siteImage}`)
    link(rel="apple-touch-icon" href=`${siteImage}`)
    link(rel="apple-touch-icon" sizes="76x76" href=`${siteImage}`)
    link(rel="apple-touch-icon" sizes="120x120" href=`${siteImage}`)
    link(rel="apple-touch-icon" sizes="152x152" href=`${siteImage}`)
    meta(name="google" value="notranslate")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="IE=edge,chrome=1")
    meta(name="apple-mobile-web-app-capable" content="yes")
    meta(name="apple-mobile-web-app-status-bar-style" content="black")
    meta(http-equiv="cleartype" content="on")
    meta(name="HandheldFriendly" content="true")
    meta(name="description" content=`${siteDescription}`)
    meta(name="last-modified" content=`${pageLastUpdated}`)
    meta(property="og:site_name" content=`${siteName}`)
    meta(property="og:title" content="#{siteTitle}")
    meta(property="og:description" content=`${siteDescription}`)
    meta(property="og:url" content=`${twitterUrl}`)
    meta(property="og:image" content=`${siteImage}`)
    meta(property="og:type" content="website")
    meta(property="og:updated_time" content=`${pageLastUpdated}`)
    meta(name="twitter:card" content="summary")
    meta(name="twitter:site" content=`${siteUsername}`)
    meta(name="twitter:creator" content=`${siteUsername}`)
    meta(name="twitter:title" content=`${siteTitle}`)
    meta(name="twitter:description" content=`${siteDescription}`)
    meta(name="twitter:image:src" content=`${siteImage}`)
    meta(name="twitter:url" content=`${twitterUrl}`)
    title #{siteTitle}
    script(type="application/ld+json").
        {
          "@context": "http://schema.org",
          "@type": "Organization",
          "name": "#{siteName}",
          "naics": "5613",
          "url": "#{siteUrl}",
          "logo": "#{siteImage}"
        }
    script(type="application/ld+json").
      {
        "@context": "http://schema.org",
        "@type": "Website",
        "name": "#{siteName}",
        "url": "#{siteUrl}",
        "potentialAction": {
          "@type": "SearchAction",
          "target": "#{siteUrl}/remote-{search_term_string}-jobs",
          "query-input": "required name=search_term_string"
        }
      }
  body
    header
      h1 OnlyDataJobs.com

    div#jobsContainer
      main.wrapper
        aside.sidebar
          h4 Search
          input#search.block-input(type="text" placeholder="type something...")
          if(tags.length > 0)
            section.filters
              each tag in tags
                - let copyTags = [...tags]
                - let index = copyTags.indexOf(tag)
                - copyTags.splice(index, 1)
                if(copyTags.length > 0)
                  a.filter(href=`${copyTags.join('+')}-jobs`) #{tag} x
                else
                  a.filter(href='/') #{tag} x
          
          section.newsletter-box
            h4.newsletter-heading Get job alerts
            input#email.block-input(type="text" placeholder="Enter your email")
            input#email-tags.block-input(type="text" placeholder="select tags (optional)")
            button#newsletter-submit.newsletter-button Subscribe

        block content

        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Fjalla+One|Lato" media="none" onload="if(media!='all')media='all'")
        link(rel="stylesheet", href="/css/main.css")
        script(src="https://code.jquery.com/jquery-3.3.1.min.js")
        link(rel="stylesheet", href="/css/easy-autocomplete.min.css" media="none" onload="if(media!='all')media='all'")
        script(src="/js/jquery.easy-autocomplete.min.js")
        script(src="/js/tagify.min.js")
        link(rel="stylesheet", href="/css/tagify.css" media="none" onload="if(media!='all')media='all'")
        script.
          var oldPath = ''
          $(document).ready(function(){
            $('#search').easyAutocomplete({
              url: function(phrase){
                return '/search?phrase='+phrase
              },
              getValue: "tag",
              list: {
                onClickEvent: function(){
                  window.location = $('#search').val()+'-jobs'
                },
                onKeyEnterEvent: function(){
                  window.location = $('#search').val()+'-jobs'
                }
              }
            })
            var emailTags = document.querySelector('#email-tags')
            var tagify = new Tagify(emailTags, {whitelist: []})
            tagify.on('input', function(e){
              var value = e.detail
              tagify.settings.whitelist.length = 0
              $.get('/search?phrase='+value.value, function(data){
                data = data.map(datum => datum.tag)
                console.log(data)
                tagify.settings.whitelist = data
                tagify.dropdown.show.call(tagify, value.value)
              })
            })

            $('#newsletter-submit').on('click', function(e){
              var email = $('#email').val().trim()
              var tags = $('#email-tags').val()
              if(tags != ''){
                tags = JSON.parse(tags)
                tags = tags.map(tag => tag.value)
              }
              if(email){
                $.post('/newsletter', {email: email, tags: tags}, function(data){
                  $('.newsletter-box').html('<p>Thank you for subscribing!</p>')
                })
              } else {
                alert('please enter valid email!')
              }
            })

            $('#naukriContainer').on('click','.job-link', function(e){
              e.preventDefault()
              var pathname = window.location.pathname
              if(pathname == '/' || pathname.startsWith('/remote-')) {
                oldPath = pathname
              }
              window.history.pushState(null, null, $(this).attr('href'))
              var desc = $(this).parents('.job-header').siblings('.job-description')
              if(desc.is(':visible')){
                desc.css({display:'none'})
              } else {
                desc.css({display:'block'})
              }
            })
          })
        if(!job)
          script.
            var loading = false
            $(document).scroll(function(){
              if($(document).height() - $(document).scrollTop() <= 700 && !loading){
                loading = true
                console.log($('#naukriContainer').children().length)
                if(oldPath != ''){
                  window.history.pushState(null, null, oldPath)
                  oldPath = ''
                }
                $.get('/getJobs?count='+$('#naukriContainer').children().length+'&url='+window.location.pathname, function(data){
                  $('#naukriContainer').append(data)
                  loading = false
                })
              }
            })

        script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-115938805-1")
        script.
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());

          gtag('config', 'UA-116314610-1');

          